body {
    font-size: 16px;
    color: #0c0c0c;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
  }

/** HEADER **/
#header {
    border-bottom: 3px solid #f46530;
}

#header-nav {
    background-color: #0c0c0c;
    border-radius: 0;
    border: 0;
}

#brand_logo {
    margin-right: 5px;
}

#logo-img {
    background: url('../pictures/Logo.png') no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
}

.navbar-brand {
    padding-top: 10px;
}

#brand_text {
    margin-top: 10px;
    margin-left: 5px;
}

.navbar-brand a {
text-decoration: none;
color: #ffffff;
}

.navbar-brand h1 { /* AM */
    color: #ffffff;
    text-align: center;
    font-size: 3.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    border-left: 5px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p { /* DIGITAL SOLUTIONS */
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-bottom: 0px;
}

.custom-toggler {
    border-color: #ffffff;

}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#services_icon {
    background: url('../pictures/services_icon.png') no-repeat;
    background-size: contain;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

#products_icon {
    background: url('../pictures/products_icon.png') no-repeat;
    background-size: contain;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

#contact_us_icon {
    background: url('../pictures/contact_us_icon.png') no-repeat;
    background-size: contain;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #ffffff;
    text-align: center;
    padding: 0;
}

#nav-item {
    margin-right: 10px;
}

#nav-list a:hover {
    background: #E7E7E7;
}

#nav-list a span {
    font-size: 1.8em;
}

@media (max-width: 992px) {
    .nav-item div{
        float: left;
    }

    #nav-list a {
        height: 50px;
    }

    #nav-text {
        padding-top: 45%;
    }
}

@media (min-width: 993px) {
    .nav-item{
        width: 86px;
        border:0.5px solid #E7E7E7;
        padding: 4px;
        border-radius: 5%;
        margin-left: 5px;
    }
}

/* HOME PAGE */

#main-content h1 {
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#home-tiles {
    margin-top: 30px;
    margin-bottom: 15px;
}

#services-tile, #products-tile, #contact-tile {
    height: 150px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

#services-tile:hover, #products-tile:hover, #contact-tile:hover {
    box-shadow: 0 1px 5px 1px #0c0c0c;
}

#services-tile{
    background: url('../pictures/Service.jpg') no-repeat;
    background-size:cover;
    background-position: center;
}

#products-tile{
    background: url('../pictures/Products.jpg') no-repeat;
    background-size:cover;
    background-position: center;
}

#contact-tile{
    background: url('../pictures/Contact.jpg') no-repeat;
    background-size:cover;
    background-position: center;
}

#services-tile span, #products-tile span, #contact-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    background-color: #000;
    color: #fff;
    opacity: .7;
}
/* END HOME PAGE */

/* FOOTER */

#footer {
    background-color: #0c0c0c;
    border-top: 3px solid #f46530;
    height: 100px;
}

#copyright-image{
    margin-top: 20px;
    background: url('../pictures/copyright.png') no-repeat;
    background-size:cover;
    background-position: center;
    height: 50px;
    width: 50px;
}

#footer span {
    margin-top: 35px;
    margin-left: 5px;
    color: #fff;
    font-size: 0.8em;
}

/* END FOOTER */